<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.1185.39" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net481" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net481" />
  <package id="Webview" version="0.1.0" targetFramework="net481" />
</packages>